body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
margin: 0;

}
h1{
    font-size: 50px;
}
.one{
    color: orange;
}
section{
    display: flex;
    margin-bottom:150px;
}
.first{
    width: 50%;
    padding-left: 10%;
}
.first img{
    width: 80%;

}
.two{
    text-decoration: none;
    border-radius: 3px;
    padding:10px 40px;
    font-weight: 700;
    background-image: linear-gradient(rgba(43, 29, 235, 0.089),rgba(255, 0, 0, 0.89));
}
.most{
    background-image: url(image/tuku.png);
}
.wow{
    background-image: url(image/hu.jpg);
    background-position: right;
}
.it{
    color: orange;
}
.no{
    width: 50%;
    padding-left: 10%;
    box-shadow: 15px 10px 40px rgb(16, 12, 248);
    width: 50%;
    margin-left: 200px;
    margin-right: 100px;
    padding: 80px;
    border-radius: 60px;
    border-left: 10px solid blue;
    border-right: 10px solid blue;
    
}
.gon{
    background-image: url(image/Untitled.j[g.png);
    background-repeat: no-repeat;
}
#sun{
    border-image: linear-gradient(blue,orange);
    border-image-slice: 1;
    border-left: 7px solid;
    border-radius: 8px;
}
footer p{
    text-align: center;
}